@keyframes x {
  to {
      background-position-x: -.25px, calc(var(--s) - 1px), -.5px, calc(var(--s) - .5px);
  }
}

@keyframes y {
  to {
      background-position-y: -.25px, calc(var(--s) - 1px), .25px, calc(var(--s) - .5px);
  }
}

/* Global styles */
body {
  margin: 0;
  overflow: hidden;
  background-color: transparent;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevent canvas interference with mouse events */
}

#container {
  max-width: 800px;
  height: 480px;
  background-color: transparent;
  margin: 0 auto;
  border-style: solid;
  border-color: white;
}

#container p {
  color: white;
  margin-left: 25px;
}

/* Style for the transparent characters (alpha and beta) */
.character {
  position: absolute;
  font-size: 250px;
  color: rgba(255, 255, 255, 0.2); /* 20% transparent */
  font-family: Arial, sans-serif;
  pointer-events: auto; /* Ensure they are clickable */
  text-decoration: none; /* Remove underline */
  display: block;
  z-index: 10; /* Bring it above canvas elements */
}

/* Optional to style the linking line (we'll do it with JavaScript) */
